name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Setup Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
    - name: Setup Node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: '24.x'
    - name: Install yq
      run: sudo apt-get update && sudo apt-get install yq
    - name: Check versions are consistent
      run: |
        [ "$(tomlq -r '.package.version' cbr-wasm/Cargo.toml)" = "$(tomlq -r '.dependencies."challenge-bypass-ristretto".version' cbr-wasm/Cargo.toml)" ] || (echo "Error: Crate version does not match challenge-bypass-ristretto version" && exit 1)
    - name: Check formatting
      run: cargo fmt --check
    - name: Install wasm target and wasm-pack
      run: cargo install wasm-pack@0.13.1 && rustup target add wasm32-unknown-unknown 
    - name: Build
      run: make
    - name: Test
      run: make test
